@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #272354;
$tertiary_color: #0071ba;
$background: #020202;
$border: #5d5d5d;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	padding: 5px 0;
	background-color: $tertiary_color;
	.moduletable_to11 {
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
		#a {}
		#b {
			.woocommerce-product-search {
				input[type=search] {
					height: inherit;
					margin: 0;
					padding: 5px;
					background: {
						image: url(woocommerce-product-search-input_bg.png);
						origin: content-box;
						position: right;
						repeat: no-repeat;
					}
					border: 0;
					border-radius: 0;
					font-size: 14px;
				}
				[type=submit] {
					display: none;
				}
			}
		}
		#c {
			a {
				margin: 0 5px;
				font-size: 18px;
				display: inline-block;
			}
		}
	}
}

.top {
	.moduletable_to1 {
		padding: 15px;
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		margin: 0;
		font: {
			size: 16px;
			weight: 800;
		}
		color: $secondary_color;
	}
	b,
	strong {
		color: $secondary_color;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.asterisk {
		color: red;
	}
	iframe {
		border: 0;
	}
	.woocommerce {
		ul.products {
			li {
				margin-bottom: 15px;
				a {
					color: $secondary_color;
					&:hover {
						color: $secondary_color;
					}
					img {
						margin: 0;
						padding: 10px;
						border: 1px solid $border;
					}
					h2 {
						padding: 15px !important;
						text: {
							align: center;
							transform: uppercase;
						}
					}
				}
				a.button.product_type_simple {
					color: #fff;
					display: block;
				}
			}
		}
		.product {}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	background: {
		image: url(block_1_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b11 {}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		h3 {
			font: {
				size: 16px;
				weight: 800;
			}
			color: $secondary_color;
		}
		a.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
}

/* Block 3 */

.block_3 {
	padding-bottom: 30px;
	.moduletable_b31 {
		h3 {
			font: {
				size: 16px;
				weight: 800;
			}
			color: $secondary_color;
			&.pro_title {
				color: #fff;
			}
		}
		a {
			&.button {
				background-color: $secondary_color;
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 30px 0;
	.moduletable_b41 {
		p {
			margin: 0;
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	background-color: $background;
	.moduletable_bo1 {
		color: #fff;
		a {
			color: #fff;
		}
		p {
			margin: 0;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 20px;
	background-color: $background;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}